body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 10px;
    width: 200px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    margin-top: 4px;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: #007bff;
}

.btn:hover {
    background-color: #0069d9;
}

.error {
    color: red;
    margin-bottom: 10px;
}

